<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>MadLibs</title>
  </head>
  <body>
    <h1>Welcome to MadLibs</h1>
    <p>Once upon a time, there was a lone warrior named @Model.WordOne , @Model.WordOne had just finished a long treck through the rugged mountain tops of the Himalaya's where he just slayed the beast that went by the name @Model.WordTwo. </p>
    <p> After their long an arduous battle with @Model.WordTwo, @Model.WordOne found themselves exhausted and hungry. @Model.WordOne had decided it is time for a meal. They have decided to go fetch a meal at the nearby village, @Model.WordThree .</p>
    <p>While at the village of @Model.WordThree , the warrior saw there were many places they could eat. One location stood out to the @Model.WordFour warrior!</p>
    <p>The Taco Bell stood there in all its glory, illuminating the night sky. Its beauty made @Model.WordOne stand there in @Model.WordFive .</p>
    <p>In @Model.WordOne 's last burst of energy they @Model.WordSix to the Taco Bell. In disbelief of the variety @Model.WordOne could have not been happier!</p>
    <p>The glowing sign, the light of the all knowing, a new item. The @Model.WordSeven . @Model.WordOne could not be satiated as they knew they needed it. As as so, they did. They got the @Model.WordSeven .</p>
    <p>@Model.WordEight , bearing the corpse of @Model.WordTwo , ate the @Model.WordSeven , finishing their meal they began the treck to claim the bounty, now refueled for the journey back.</p>
  </body>
</html>